/* ------------------------ GENERAL ------------------------ */
 
body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	background-color: #CCCCFF;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
	font-family: 'Amatic SC', 'Helvetica', sans-serif;
	top: 1em;
	left: 20%;
	width: 60%;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 3em;
}

h2 {
	font-family: 'Amatic SC', 'Helvetica', sans-serif;
	font-size: 1.5em;
	color: #6666ff;
}

/* ------------------------ IMAGES ------------------------ */

img .banner {
	display: block;
	margin: 0 auto;
	background-color: transparent;
}

.hero-unit { /* This is an awkward hack but I refuse to apologize */
        margin-top: 10px;
}
